* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient( #1C1974,#19191B);
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    text-decoration: dotted;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    border-radius: 2rem;
}

/* Styling for X and O */
.x {
    color: red;
}

.o {
    color: blue;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 1rem;
}

/* Pop-up styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 10px;
}

.popup-content button {
    margin-top: 15px;
    padding: 10px 15px;
}
/* for scoreboard */
.scoreboard{
  margin-bottom: 4rem;
  color: #FFFFFF;
  font-weight: bold;
}
